<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


<div class="text-center padded">
<h1>New Cocktail</h1>


<%= simple_form_for(@cocktail) do |f| %>
<h3>Name</h3>
  <%= f.text_area :name %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.submit %>
<% end %>

<br><br>
<%= link_to "Back to Cocktail Index", "/cocktails", :class => "btn btn-success" %>
</div>
