<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">



<div class="text-center padded">

  <h1>Cocktail Bazar</h1>
  <h2>-Hall of fame of cocktail recipies-</h2><br><br>

  <div class="row">
    <div class=" col-sm-3"></div>
    <div class="col-sm-6 text-center">
      <br><div class="card">
      <h2><%= @cocktail.name %></h2>
      <%= cl_image_tag @cocktail.photo, width: 600, height: 300, crop: :fill %><br><br>
      <%= link_to "Edit the Recipe", "/cocktails/#{@cocktail.id}/doses/new", :class => "btn btn-warning" %>
      <%= link_to "Delete this Cocktail", "/cocktails/#{@cocktail.id}", method: :delete, data: { confirm: "Are you sure?" }, :class => "btn btn-danger" %>

      <h3>Ingredients & Doses</h3>
      <div class="row">
        <div class=" col-sm-4"></div>
        <div class="col-sm-4 text-center">
          <ul>
          <% @cocktail.doses.each do |dose| %>
            <li><%=dose.description %> of <%= Ingredient.find(dose.ingredient_id).name %></li>
          <%end%>
          </ul>
      </div>
    </div>
  </div><br><br>
</div>
</div>
